.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
}
.contentProjects h2{
  color: white;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
  
}
.projectsGrid h3{
    font-size: 40px;
    padding-left: 20px;
    
    color: rgb(102, 204, 255);
}
.projectsGrid p{
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
    color: rgb(184, 253, 255);
    line-height: 3ch;
}
.projectsGrid > * {
  height: 340px;

}

.contentProjects{
    margin: 30px 200px;
    padding-bottom: 80px;
}


