.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.contentProjects h2{
  color: white;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  
}
.projectsGrid h3{
    color: rgb(102, 204, 255);
    margin: 0 auto;
}
.projectsGrid p{
    margin-top: 20px;
    color: rgb(184, 253, 255);
    line-height: 3ch;
}

@media(max-width:1920px){
  .contentProjects h2{
  font-size: 2rem;
 }
 .projectsGrid{
   grid-template-columns: repeat(3, 1fr);
   gap: 60px;
  margin: 0 120px;
 }
  .projectCard {
  height: 280px;
  

  } 
  .projectCard p{
    margin-bottom: 25px 0px;
    margin-left: 20px;
  }
  .projectCard h3{
    font-size: 1.6rem;
    margin-left: 20px;
  }

  .contentProjects{
    padding-bottom: 6vw;
  }
}

@media(max-width:768px){
 .contentProjects h2{
  font-size: 2rem;
 }
  .projectCard {
  height: 280px;
  width: 40vw;

  } 
  .projectCard p{
    margin-bottom: 25px 0px;
    margin-left: 20px;
  }
  .projectCard h3{
    font-size: 1.6rem;
    margin-left: 20px;
  }
  .projectsGrid{
    gap: 60px;
    margin: 0 60px;
  }
  .contentProjects{
    padding-bottom: 6vw;
  }
}

@media(max-width:420px){
 .contentProjects{
  margin: 0 20px;
 }
  .projectCard {
  width: 280px;
  height: 350px;
  } 
  .projectCard p{
    margin-bottom: 10 0px;
  }
  .projectsGrid{
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 40px;
  }
}