

  

.aboutMe{
    display: flex;
    justify-content: center;
}
.aboutMe h2{
    font-size: clamp(1rem,7vw,3.8rem );
}
.aboutImg{
    width: 40%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
.aboutImg p{
    font-size: clamp(0.8rem,1.8vw,2.5rem);
  }
.aboutMeContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media(max-width:1920px){
  .aboutMeContent{
    gap: 10rem
  }
  .container{
    padding: 3rem 5rem;
  }
  
}

@media(max-width:768px){
  .aboutMeContent{
    gap: 5rem
  }
  .container{
    padding: 2rem 3.5rem;
  }
 
}

@media(max-width:420px){
  .aboutMeContent{
    gap: 1.5rem
  }
  .aboutImg{
    width: 30%;
  }
  
  .container{
    padding: 1rem 1.5rem;
  }
}

.TittleText{
  color: white;
  padding-bottom: clamp(0.8rem,2.4vw,2rem);
  display: grid;
  place-items: center;

}

.aboutTxt{
    width: 75%;
    font-weight: 600;
}
.aboutTxt h2{
    font-weight: 800;
    color: var(--color-electrico);
    font-size: clamp(0.8rem,2vw,2rem);
}
.aboutTxt p{
    text-align:start;
    line-height: 3.5ch;
    color: rgb(184, 253, 255);
    font-size: clamp(0.8rem,2vw,2.5rem);
}
.aboutTxt span{
    color: var(--color-electrico);
}
.aboutImg Img{
    width: 100%;
    height: auto;
    border-radius: 30%;
    margin-bottom: clamp(1rem,2vw,3rem);
    object-fit: cover;
}


.aboutImg p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 800;
}

.waveText {
  font-weight: 600;
  background: linear-gradient(
    90deg,
    red,
    yellow,
    var(--color-electrico),
    #00ff00,
    red
  );

  background-size: 400%;
  background-position: 0% 50%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: wave 3s linear infinite alternate;
}

@keyframes wave {
  0%   {  background-position: 0% 50%; }
  to   { background-position: 100% 50%; }
}

