.nav{
    position: fixed;
    bottom: 30px;

    left: 50%;
    transform: translateX(-50%);
    background: var(--color-electrico);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    color: black;
    font-weight: 700;
    overflow: hidden;
    max-height: 65px;
    transition: width .9s cubic-bezier(0.6, 0.2, 0.2, 0.6);
    z-index: 9999;
}

