
.Foot {
  position: relative;
  overflow: hidden;

    padding: 0 40px 8px 40px ;
    text-align: center;
    font-size: 12px;
    
}
.Foot h3{
    color: rgb(184, 253, 255);
    position: relative;
    z-index: 1;
}