
.Foot {
  position: relative;
  overflow: hidden;
    padding: 0 40px 8px 40px ;
    text-align: center;
}
.Foot h3{
    color: rgb(184, 253, 255);
    position: relative;
    font-size: clamp(1.5rem,1.2vw,2rem);
}

@media(max-width:420px){
  .Foot h3{
    font-size: 0.8rem;
  }
}