.ContainerSkill{
    display: grid;
    width: 100%;
    height: 50px;
    padding: 60px 0 ;
    margin: 0 auto;
    border-radius: 100px;
}

.SkillTxt{
    position: relative;
    z-Index: 10;
      text-Align: center;
      top: 3%;
      transform: translateY(-50%);
        color: rgba(2, 0, 36, 0.9);
      font-size: 100px;
}
